name: Metrics
on:
  schedule: [{cron: '0 */2 * * *'}]  
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: wizardloop
          template: classic
          base: header, repositories, metadata
          config_timezone: Asia/Jerusalem
          
          # Languages
          plugin_languages: yes
          plugin_languages_colors: github
          plugin_languages_limit: 8
          plugin_languages_sections: most-used
          plugin_languages_threshold: 0%
          
          # Isocalendar
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year

          # Gist
          plugin_gists: yes

          # line
          plugin_lines: yes

          # code
          plugin_code: yes

          # Wakatime
          plugin_wakatime_limit: 7
          plugin_wakatime_projects: yes
          plugin_wakatime_sections: time, projects, projects-graphs, languages, languages-graphs, editors, os
          plugin_wakatime_token: ${{ secrets.WAKATIME_API_KEY }}
