name: Metrics
on:
  schedule: [{cron: '*/5 * * * *'}]  
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: wizardloop
          template: github
          base: header, repositories, metadata
          config_timezone: Asia/Jerusalem
          
          # Activity
          plugin_activity: yes
          plugin_activity_limit: 3
          plugin_activity_days: 7
          plugin_activity_filter: push, pr, issue, release
          
          # Languages
          plugin_languages: yes
          plugin_languages_colors: github
          plugin_languages_limit: 8
          plugin_languages_sections: most-used
          plugin_languages_threshold: 0%
          
          # Isocalendar
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
          
          # Stars
          plugin_stars: yes
          plugin_stars_limit: 4

          # Gist
          plugin_gists: yes

          # line
          plugin_lines: yes

          # code
          plugin_code: yes

          # achievements
          plugin_achievements: yes
          plugin_achievements_threshold: C
          plugin_achievements_secrets: yes
          plugin_achievements_display: compact

          # WakaTime
          plugin_wakatime: yes
          plugin_wakatime_limit: 7
          plugin_wakatime_projects: yes
          plugin_wakatime_sections: time, projects, projects-graphs, languages, languages-graphs, editors, os
          plugin_wakatime_token: ${{ secrets.WAKATIME_API_KEY }}
